<script type="text/javascript">
  <% if logged_in? %>
  	window.currentUser =
      <%= render("api/users/user.json.jbuilder",
                user: User.includes(follows_as_follower: :followee,
                                    follows_as_followee: :follower)
                          .find(current_user.id)).html_safe %>
  <% end %>

  window.images = {
    authPhoto: "<%= image_path("home-page-photo-edited.jpg") %>"
  }
</script>


<main id="root"></main>
