.edit-form {
  display: flex;
  width: 50%;
  border: 1px solid $border-gray;
  background-color: white;
  margin: 0 auto;
  padding: 20px;
  margin-top: 50px;
}

.edit-form h1 {
  border-right: 1px solid $border-gray;
  font-size: 16px;
  font-weight: bold;
  font-family: $roboto;
  width: 25%;
}

.edit-form img {
  width: 40px;
  height: 40px;
  border-radius: 30px;
}

.edit-form form {
  display: flex;
  padding-left: 20px;
}

.left-col {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.left-col label {
  margin: 15px;
}

.right-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 10px;
}

.current-username {
  margin-bottom: 15px;
  font-size: 28px;
  font-weight: normal;
}

.edit-submit-btn {
  width: 100px;
  margin: 10px 10px 10px 3px;
}

.current-user-open-modal img:hover {
  opacity: 0.8;
}

.current-user-open-modal img {
  cursor: pointer;
}

.successful-save {
  color: $green;
  margin-left: 3px;
}
