.home-photo-feed {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 720px;
  margin: 0 auto;
}

.feed-image {
  font-size: 14px;
  margin: 60px 60px 0px 60px;
}

.image-item {
  margin-bottom: 70px;
  border: 1px solid $lightest-gray;
}

.image-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.image-header ul {
  display: flex;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}

.image-header {
  padding: 18px;
}

.profile-pic {
  height: 30px;
  width: 30px;
  border-radius: 20px;
  margin-right: 10px;
  border: 1px solid $lightest-gray;
}

.image-details {
  padding: 0px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid $lightest-gray;
}

.image-details li:not(:first-child) {
  margin-top: 10px;
}

.image-details > li:first-child {
  padding-top: 20px;
}

.add-like-comment {
  display: flex;
  align-items: center;
  border-top: 1px solid $lightest-gray;
}

.add-like-comment > li > input {
  border: 0px;
}

.heart {
  cursor: pointer;
  font-size: 22px;
  color: $gray;
  margin-top: 5px;
}

.fa-heart {
  color: $like-red;
}

.comments li:last-child {
  margin-bottom: 20px;
}

.comments {
  display: flex;
  flex-wrap: wrap;
}

.comment-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  word-break: break-all;
}

.add-like-comment > li:last-child {
  width: 100%;
}

.fa-times {
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}

.username {
  cursor: pointer;
  font-family: sans-serif;
}
