.modal {
  background: $white;
  width: 45%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile-photo-modal ul li {
  padding: 20px;
  text-align: center;
}

.modal ul li:first-child {
  color: $gray;
}

.modal ul li:not(:first-child):hover {
  background-color: $light-gray;
}

.profile-photo-modal ul li:active {
  border: 1px solid $blue;
}

strong {
  font-weight: bolder;
}

.upload-photo-modal ul li {
  padding: 20px;
}

.upload-photo-modal form,
.profile-photo-modal form {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.profile-photo-modal form > input[type='submit'] {
  width: 50%;
  margin-top: 20px;
}

.upload-photo-modal li:first-child,
.upload-photo-modal li:last-child {
  text-align: center;
}

.file {
  margin: 0 auto;
}

.modal li:last-child {
  cursor: pointer;
}
