.main-nav {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid $lightest-gray;
}

.centered-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}

.left-nav {
  cursor: pointer;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: center;
  color: $dark-gray;
}

hr.vertical {
  height: 30px;
}

.left-nav > ul > li {
  display: flex;
  align-items: center;
  padding: 20px 10px;
  cursor: pointer;
  font-size: 36px;
  height: 40px;
}

h2 {
  font-family: $lobster;
  font-size: 34px;
}

.right-nav > ul > li {
  padding: 0px 15px;
  font-size: 25px;
}

.btn {
  cursor: pointer;
}
