.search {
  position: relative;
  width: 20%;
}

.user-dropdown {
  position: absolute;
  z-index: 1;
}

.search-bar {
  position: relative;
  min-width: 100px;
}

.search-bar input {
  font-size: 14px;
  text-indent: 25px;
  width: 100%;
  border-radius: 3px;
}

.search-bar .fa-search {
  position: absolute;
  top: 12px;
  left: 15px;
  font-size: 12px;
  color: $gray;
}

.user-dropdown {
  background-color: $white;
  width: 200px;
  box-shadow: 0 0 1em $lightest-gray;
  border: 1px solid $lightest-gray;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.search-item {
  border-bottom: 1px solid $lightest-gray;
  display: flex;
  align-items: center;
  padding: 15px;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  word-break: break-all;
}

.user-dropdown > li:hover {
  background-color: $light-gray;
  cursor: pointer;
}
