// Place all the styles related to the Api::Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.auth-full-page {
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: $gray;
  padding: 100px;
}

.auth-container, .switch-auth {
  border: 1px solid $lightest-gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.auth-container {
  margin-bottom: 10px;
  padding: 40px;
}

.switch-auth {
  padding: 30px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.right-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
}

h1 {
  font-family: $lobster;
  font-size: 46px;
  color: black;
  margin: 3px;
}

h3 {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  margin: 10px;
}

input[type=text], input[type=password] {
  box-sizing: border-box;
  margin: 3px;
  border: 1px solid $lightest-gray;
  border-radius: 5px;
  padding: 7px;
  width: 100%;
}

input:focus {
  border-color: $gray;
}

::-webkit-input-placeholder {
  color: $gray;
}

.auth-container > button,
.auth-form > input[type=submit] {
  background-color: $blue;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  margin: 10px;
}

.errors {
  color: $red;
  text-align: center;
}

.link {
  color: $blue;
}

button:active, input[type=submit] {
  opacity: 5;
}

hr.horizontal {
  width: 100px;
  height: 100%;
}

div.or-container {
  display: flex;
  flex-direction: row;
}
