.ReactModal__Body--open {
  overflow-y: hidden;
}

.entire-image-modal {
  display: flex;
  width: auto;
  height: 100%;
}

.user-image-modal {
  background: $white;
  width: 65%;
  height: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.left-image {
  height: auto;
  width: 100%;
}

.left-image > img {
  width: 100%;
  height: 100%;
}

// need to set this height same as neighbor
.right-details {
  width: 50%;
  height: auto;
  padding: 20px;
}

.delete-img-btn {
  cursor: pointer;
  color: $blue;
}

.delete-img-btn:hover {
  color: $black;
}

.image-modal-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}

.sub-header {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $lightest-gray;
  padding: 20px 0px;
}

.username-pic-modal,
.username-pic-modal > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.username-pic-modal {
  margin-bottom: 10px;
}

.caption-comments-scroll {
  height: 100%;
  overflow: auto;
}

.caption-comments-scroll > li {
  margin-bottom: 8px;
}

.comments > li {
  margin-bottom: 8px;
}

@media (min-width: 1000px) {
  height: 100%;
  max-width: 1000px;
}
