.user-profile {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
}

.user-profile-detail img {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  margin-right: 80px;
}

.edit-user-btn, .unfollow-btn {
  background-color: $light-gray;
  border: 1px solid $border-gray;
  color: black;
  font-weight: bold;
  font-size: 14px;
  padding: 5px 30px;
}

.edit-user-btn:hover,
.unfollow-btn:hover {
  background-color: $lightest-gray;
}

.follow-btn {
  padding: 5px 30px;
  font-size: 14px;
}

.hidden {
  display: none;
}

.user-profile-detail {
  display: flex;
  justify-content: flex-start;
  width: 60%;
  padding: 50px;
  margin: 10px;
}

.username-line {
  display: flex;
  align-items: center;
}

.username-line h2 {
  font-family: $sans-serif;
  font-size: 36px;
  font-weight: normal;
  margin-right: 18px;
}

.bio {
  padding: 20px 10px 10px 0px;
  font-weight: bold;
}

.post-follows {
  display: flex;
  padding: 20px 10px 10px 0px;
}

.post-follows > li {
  margin-right: 30px;
}

.user-images ul {
  margin: 0 auto;
  width: 1000px;
}

.user-images img {
  float: left;
  width: 290px;
  height: 290px;
  margin: 20px;
  cursor: pointer;
}

.image-hover {
  display: none;
}

.user-images img:hover {
  opacity: 0.7;
}
