$blue: #3897f0;
$red: #EF4956;

// border color
$lightest-gray: #E7E7E7;
// background color
$light-gray: #FAFAFA;
// font color
$gray: #999999;

// nav bar color
$dark-gray: #262626;

// edit profile button border
$border-gray: #DBDBDB;
