$sans-serif: arial, helvetica, sans-serif;
$serif: georgia, "times new roman", times, serif;
$lobster: 'Lobster Two', cursive;
$roboto: 'Roboto', sans-serif;

// @font-face {
// font-family: 'segoe-ui';
// font-style: normal;
// font-weight: normal;
// src: url('app/assets/fonts/segoe-ui.woff')
// }
//
// @font-face {
// font-family: 'Billabong';
// font-style: normal;
// font-weight: normal;
// src: url('fonts/Billabong.woff')
// }
